@charset "utf-8";
/* ===================================================================
CSS information

file name  :common.css
author     :iritec
style info :設定　ハックは最下部に記述
=================================================================== */

/*----------------------------------------------------
	基本設定、リンクカラーなど
----------------------------------------------------*/

@charset "UTF-8";

/* ------------ tools ------------ */

/* float reset */

/* .clearfix class wraps enclosing block element around inner floated elements */

.clearfix {
    zoom: 1;
    /*for IE 5.5-7*/
}

.clear_fix:after {
    content: " ";
    display: block;
    visibility: hidden;
    height: 0.1px;
    clear: both;
    font-size: 0.1em;
    line-height: 0;
}

* html .clearfix {
    display: inline-block;
}

/* no ie mac \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/* */

.clr {
    clear: both;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: 0 -1px -1px 0;
    border: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
}

.clear_both {
    clear: both;
}

/* flex */

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.flex_center {
    align-items: center;
}

/* float */

.float_l {
    float: left;
}

.float_r {
    float: right;
}

.float-i {
    float: initial!important;
}

/* align set */

.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.alignCenter > * {
    margin: 0 auto;
}

.alignRight {
    text-align: right;
}

.marginCenter {
    margin: 0 auto;
}

.marginAuto {
    margin: auto;
    !important;
}

.textCenter {
    text-align: center;
}

.alignVert {
    vertical-align: middle;
}

.paddingCenter {
    padding: 0 auto;
}

/* display */

.display-block {
    display: block
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

/* position */

.position_a {
    position: absolute;
}

.position_r {
    position: relative;
}

.position_f {
    position: fixed;
}

/* ----- Heading style ----- */

/* font-size */

.font0 {
    font-size: 0;
}

.font1 {
    font-size: 1rem;
}

.font13 {
    font-size: 1.3rem;
}

.font18 {
    font-size: 1.8rem;
}

.font2 {
    font-size: 2rem;
}

.font3 {
    font-size: calc(3rem - 14px);
}

.font4 {
    font-size: calc(3rem - 8px);
}

.font5 {
    font-size: 3rem;
}

.lineHeight_i {
    line-height: initial;
}

/* space */

.m-t0 {
    margin-top: 0;
}

.m-t05 {
    margin-top: 5px;
}

.m-t1 {
    margin-top: 10px;
}

.m-t15 {
    margin-top: 15px;
}

.m-t2 {
    margin-top: 20px;
}

.m-t25 {
    margin-top: 25px;
}

.m-t3 {
    margin-top: 30px;
}

.m-t35 {
    margin-top: 35px;
}

.m-t4 {
    margin-top: 40px;
}

.m-t45 {
    margin-top: 45px;
}

.m-t5 {
    margin-top: 50px;
}

.m-t55 {
    margin-top: 55px;
}

.m-t6 {
    margin-top: 60px;
}

.m-t65 {
    margin-top: 65px;
}

.m-t7 {
    margin-top: 70px;
}

.m-t75 {
    margin-top: 75px;
}

.m-t8 {
    margin-top: 80px;
}

.m-t85 {
    margin-top: 85px;
}

.m-t100 {
    margin-top: 100px;
}

.m-b0 {
    margin-bottom: 0;
}

.m-b05 {
    margin-bottom: 5px;
}

.m-b07 {
    margin-bottom: 7px;
}

.m-b1 {
    margin-bottom: 10px;
}

.m-b12 {
    margin-bottom: 12px;
}

.m-b15 {
    margin-bottom: 15px;
}

.m-b2 {
    margin-bottom: 20px;
}

.m-b25 {
    margin-bottom: 25px;
}

.m-b3 {
    margin-bottom: 30px;
}

.m-b35 {
    margin-bottom: 35px;
}

.m-b4 {
    margin-bottom: 40px;
}

.m-b45 {
    margin-bottom: 45px;
}

.m-b5 {
    margin-bottom: 50px;
}

.m-b55 {
    margin-bottom: 55px;
}

.m-b6 {
    margin-bottom: 60px;
}

.m-b65 {
    margin-bottom: 65px;
}

.m-b7 {
    margin-bottom: 70px;
}

.m-b75 {
    margin-bottom: 75px;
}

.m-b8 {
    margin-bottom: 80px;
}

.m-b85 {
    margin-bottom: 85px;
}
.m-r5 {
    margin-right: 15px;
}
.p-0 {
    padding: 0;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.p-25 {
    padding: 25px;
}

.p-30 {
    padding: 30px;
}

.p-t0 {
    padding-top: 0;
}

.p-t05 {
    padding-top: 5px;
}

.p-t07 {
    padding-top: 7px;
}

.p-t1 {
    padding-top: 10px;
}

.p-t12 {
    padding-top: 12px;
}

.p-t15 {
    padding-top: 15px;
}

.p-t2 {
    padding-top: 20px;
}

.p-t25 {
    padding-top: 25px;
}

.p-t3 {
    padding-top: 30px;
}

.p-t35 {
    padding-top: 35px;
}

.p-t4 {
    padding-top: 40px;
}

.p-t45 {
    padding-top: 45px;
}

.p-t5 {
    padding-top: 50px;
}

.p-t55 {
    padding-top: 55px;
}

.p-t6 {
    padding-top: 60px;
}

.p-t65 {
    padding-top: 65px;
}

.p-t7 {
    padding-top: 70px;
}

.p-t75 {
    padding-top: 75px;
}

.p-t8 {
    padding-top: 80px;
}

.p-t85 {
    padding-top: 85px;
}

.p-b0 {
    padding-bottom: 0;
}

.p-b05 {
    padding-bottom: 5px;
}

.p-b07 {
    padding-bottom: 7px;
}

.p-b1 {
    padding-bottom: 10px;
}

.p-b12 {
    padding-bottom: 12px;
}

.p-b15 {
    padding-bottom: 15px;
}

.p-b2 {
    padding-bottom: 20px;
}

.p-b25 {
    padding-bottom: 25px;
}

.p-b3 {
    padding-bottom: 30px;
}

.p-b35 {
    padding-bottom: 35px;
}

.p-b4 {
    padding-bottom: 40px;
}

.p-b45 {
    padding-bottom: 45px;
}

.p-b5 {
    padding-bottom: 50px;
}

.p-b55 {
    padding-bottom: 55px;
}

.p-b6 {
    padding-bottom: 60px;
}

.p-b65 {
    padding-bottom: 65px;
}

.p-b7 {
    padding-bottom: 70px;
}

.p-b75 {
    padding-bottom: 75px;
}

.p-b8 {
    padding-bottom: 80px;
}

.p-b85 {
    padding-bottom: 85px;
}

.p-l2 {
    padding-left: 3%;
}


.w_one {
    width: 100%;
}

.w_half {
    width: 48%;
}

.w_three {
    width: calc(100% / 3);
}

.w_four {
    width: calc(100% / 4);
}

.w_five {
    width: calc(100% / 5);
}

.w_six {
    width: calc(100% / 6);
}

.w_seven {
    width: calc(100% / 7);
}

.w_eight {
    width: calc(100% / 8);
}

.w_nine {
    width: calc(100% / 9);
}

.w_ten {
    width: calc(100% / 10);
}

.w_y {
    width: 40%;
}

.w_m {
    width: 27%;
}

.w_d {
    width: 27%;
}

.w_f {
    width: 96%;
}

.w_05 {
    width: 5%;
}

.w_1 {
    width: 10%;
}

.w_15 {
    width: 15%;
}

.w_2 {
    width: 20%;
}

.w_25 {
    width: 25%;
}

.w_3 {
    width: 30%;
}

.w_35 {
    width: 35%;
}

.w_4 {
    width: 40%;
}

.w_45 {
    width: 45%;
}

.w_5 {
    width: 50%;
}

.w_55 {
    width: 55%;
}

.w_6 {
    width: 60%;
}

.w_65 {
    width: 65%;
}

.w_7 {
    width: 70%;
}

.w_75 {
    width: 75%;
}

.w_8 {
    width: 80%;
}

.w_85 {
    width: 85%;
}

.w_9 {
    width: 90%;
}

.w_95 {
    width: 95%;
}



td {
    text-align: center;
}


.fw_1 {
    font-weight: 100;
}

.fw_2 {
    font-weight: 200;
}

.fw_3 {
    font-weight: 300;
}

.fw_4 {
    font-weight: 400;
}

.fw_5 {
    font-weight: 500;
}

.fw_6 {
    font-weight: 600;
}

.fw_7 {
    font-weight: 700;
}

.fw_8 {
    font-weight: 800;
}


/*===============================================
画面の横幅が740pxまで（スマホ用）
===============================================*/

@media screen and (max-width: 650px) {}

/*===============================================
画面の横幅が320pxまで（スマホ用）
===============================================*/

@media screen and (max-width: 320px) {}

/*======================================

	hack - 各種cssハック - for IE7

=======================================*/

*:first-child + html {}


/*======================================

	hack - 各種cssハック - for IE6

=======================================*/

* html {}
